.top-brand {
  padding: 2rem 4rem;
  border-radius: 10px;
  grid-template-columns: repeat(5, 1fr);
  background-color: white;
  display: grid;
}

.brand-logo {
  width: 12rem;
}

.brand-title {
  font-size: 2rem;
  color: black;
}

.brand-description {
  line-height: 1.5;
}
